body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 900px;
    margin: auto;
}

.contact {
    background: #e0d9d0;
    padding: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}


.abut {
    background: url(img/kafit6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    color: #fff;
    padding: 80px;
    text-align: center;

}

.grid-rows {
    grid-gap: 32px;
    padding: 40px;
    text-align: center;
    background-color: #788181;
    color: #fff;

}
.grid-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.grid-col div {
    transition: 3s;
}

.grid-col div:hover {
    transform: scale(1.1)
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
}

.logo {
    display: block;
    max-width: 210px;
    margin: 41px auto;

}

.button {
    text-decoration: none;
    color: #fff;
    background: #000;
    margin-top: 30px;
    padding: 20px 40px;
    display: inline-block;
    font-size: 18px;
}

