body {
    font-family: 'Heebo', sans-serif;
    caret-color: antiquewhite;
    background-color: antiquewhite
}

h1 {
    color: (153, 167, 51);
    font-weight: 400;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.BackgroundColor {
    background-color: antiquewhite
}


.container{
    max-width: 800px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aligncenter {
    max-width: 50%;
    display: block;
    margin: auto;
}
